.navbar{
	display: flex;
	flex-direction: row;
	list-style: none; 
	background-color: rgba(160, 50, 50, 1);
	border: solid; height: 40px;
	max-height: 200px;
	margin: 0px;
	align-items: center;
	}

#navItem{
	border-right: solid;
	margin-right: 10px;
	padding-right: 5px;
	text-decoration-line: none;
	color: inherit;
}

#navItem:hover{
	background-color: rgba(255, 238, 88,1);
	font-size: 20px;
}

a{
	text-decoration: none;
	color: white;
}

button #hoverDesign:hover{
	background-color: aquamarine;
	color: white;
	border: none;
}
